body{
    font-family: Montserrat; sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.menu{
    margin: 0 auto;
    text-align: center;
    padding: 25.5px 0px;
    }

.menu-item{
    display: inline-block;
    margin-right: 72px;
    color: #FF0000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    }

.menu-item-text{
    text-decoration: none;
    color:#FF0000;
  }

.img{
    height: 100vh;
    max-height: 789;
    padding-bottom: 49px;
    margin: 0 auto;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}

.text-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;;
}

.btn-wrapper{
    text-align: center;
    padding: 66px 0;
}

.btn{
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    cursor: pointer; 
}

.copyright-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 29px 0;
}

.copyright{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}